.Faq {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 600;
  color: white;
  height: 100vh;
  width: 100%;

  .header {
    height: 150px;
    padding: 3% 5%;

    h1 {
      color: white;
      font-size: 42px;
      text-align: center;
      margin-top: 50px;
    }
  }

  .accordion {
    width: 80%;
    margin: 20px auto;
    .item {
      background-color: #124e78;
      border-radius: 20px;
      padding: 20px 30px;
      .button {
        font-size: 20px;
      }
    }
  }

  .ask {
    color: black;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
  }

  .ask:hover {
    color: #703d57;
    cursor: pointer;
  }
}

@media screen and (max-width: 450px) {
  .Faq {
    .header {
      h1 {
        font-size: 25px;
      }
    }

    .accordion {
      .item {
        .button {
          font-size: 18px;
        }
      }
    }

    .ask {
      font-size: 18px;
    }
  }
}
