.quiz {
  background-color: #124e78;
  height: 100vh;
  padding: 5%;
  width: 90%;

  .title {
    margin-bottom: 50px;
    font-size: 32px;
    font-weight: 600;
    color: white;
    text-align: center;
  }
}
