.tailSpin {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
}

.product-page {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    .product-image {
      background-color: white;
      padding: 15px;
      border: 2px solid #703d57;
      border-radius: 10px;
      width: 60%;
    }

    .others {
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;

      .image {
        width: 10%;
        background-color: white;
        padding: 15px;
        border: 2px solid #703d57;
        border-radius: 10px;
        cursor: pointer;
        opacity: 0.7;
      }

      .image:hover {
        opacity: 1;
      }
    }
  }

  .separator {
    height: 80vh;
    width: 5px;
    background-color: #703d57;
  }

  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    .product-title {
      color: white;
      font-size: 32px;
      font-weight: 700;
    }

    .product-price {
      color: white;
      font-size: 24px;
    }

    .quantity {
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;

      .label {
        font-weight: 500;
        font-size: 20px;
        color: white;
      }

      .input {
        width: 40%;
        border: 1px solid white;
        border-radius: 10px;
      }

      .input:focus {
        outline: none;
      }
    }

    .process {
      display: flex;
      flex-direction: column;
      .buy {
        background-color: #703d57;
        border: 2px solid #703d57;
        border-radius: 5px;
        padding: 10px 40px;
        color: white;
        font-weight: 700;
      }

      .buy:hover {
        cursor: pointer;
        background-color: black;
        border: 2px solid black;
        color: #703d57;
        font-weight: 700;
      }

      .add {
        background-color: #703d57;
        border: 2px solid #703d57;
        border-radius: 5px;
        padding: 10px 40px;
        color: white;
        font-weight: 700;
      }

      .add:hover {
        cursor: pointer;
        background-color: black;
        border: 2px solid black;
        color: #703d57;
        font-weight: 700;
      }
    }

    .similar {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .sim-title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
      }
      .sim-prod {
        display: flex;
        gap: 20px;

        .sim {
          border-radius: 5px;
          background-color: white;
          height: 100px;
          width: 100%;
          padding: 10px;
        }
      }
    }
  }

  .pop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .p-image {
      margin-top: 40px;
      width: 35%;
    }

    .text {
      margin-top: 20px;
      font-weight: 500;
      text-align: center;
    }

    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      margin-top: 20px;

      .view {
        background-color: #703d57;
        padding: 10px 40px;
        border-radius: 10px;
        border: 2px solid #703d57;
        color: white;
      }

      .view:hover {
        cursor: pointer;
        border: 2px solid white;
      }

      .continue {
        border: 2px solid #703d57;
        background-color: #703d57;
        padding: 10px 20px;
        color: white;
        border-radius: 10px;
      }

      .continue:hover {
        cursor: pointer;
        border: 2px solid white;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .product-page {
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    flex-direction: column;

    .left {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 40px;

      .product-image {
        background-color: white;
        padding: 15px;
        border: 2px solid #703d57;
        border-radius: 10px;
        width: 75%;
      }

      .others {
        display: none;
        .image {
          width: 10%;
          background-color: white;
          padding: 15px;
          border: 2px solid #703d57;
          border-radius: 10px;
          cursor: pointer;
          opacity: 0.7;
        }
      }
    }

    .separator {
      display: none;
    }

    .right {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 50px;
      .product-title {
        margin-top: 15px;
        font-size: 25px;
      }

      .product-price {
        color: white;
        font-size: 20px;
      }

      .quantity {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;

        .label {
          font-weight: 500;
          font-size: 20px;
          color: white;
        }

        .input {
          width: 40%;
          border: 1px solid white;
          border-radius: 10px;
        }

        .input:focus {
          outline: none;
        }
      }

      .process {
        margin-top: 30px;
        display: flex;
        align-items: center;
        gap: 50px;
        width: 100%;
        .buy {
          width: 100%;
          text-align: center;
        }

        .add {
          text-align: center;
          width: 100%;
        }
      }

      .similar {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .sim-title {
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 20px;
        }
        .sim-prod {
          display: flex;
          gap: 20px;

          .sim {
            border-radius: 5px;
            background-color: white;
            height: 100px;
            width: 100%;
            padding: 10px;
          }
        }
      }
    }

    .pop {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .p-image {
        margin-top: 40px;
        width: 35%;
      }

      .text {
        margin-top: 20px;
        font-weight: 500;
        text-align: center;
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        margin-top: 20px;

        .view {
          background-color: #703d57;
          padding: 10px 40px;
          border-radius: 10px;
          border: 2px solid #703d57;
          color: white;
        }

        .view:hover {
          cursor: pointer;
          border: 2px solid white;
        }

        .continue {
          border: 2px solid #703d57;
          background-color: #703d57;
          padding: 10px 20px;
          color: white;
          border-radius: 10px;
        }

        .continue:hover {
          cursor: pointer;
          border: 2px solid white;
        }
      }
    }
  }
}
